<configuration status="INFO" monitorInterval="1800">
  <appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[@project.artifactId@] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %highlight{%-5p} => %cyan{%c.%M(%F:%L)} - %m%n"/>
    </Console>
  </appenders>
  <loggers>
    <root level="info">
      <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.syswin.temail.ps.common.codec" level="debug"/>
  </loggers>
</configuration>